{% load static %}       <!-- link line unload ststic -->
<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>All Meetups</title>
        <link rel="stylesheet" href="{% static 'meetups/styles/welcome.css' %} ">      <!--static= sub-main folder name, then location='meetups/styles/welcome.css'-->
        
    </head>
    <body>
        
        <h1>All Meetups</h1>
        <p>Hello, World!</p>
        
    </body>
</html>