{% load static %}      <!-- link line unload ststic -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>All Meetups</title>
        <link rel="stylesheet" href="{% static 'meetups/styles/welcome.css' %} ">      <!--static= sub-main folder name, then location='meetups/styles/welcome.css'-->
        <link rel="stylesheet" href="{% static 'meetups/styles/all_meetups.css' %} ">
    </head>
    <body>
        
        <!--<h1>All Meetups</h1>
        <p>Hello, World!</p>
        {% if show_meetups %}
            {% for meetup_list in meetups %}
                <p>{{ meetup_list.title }} </p>
            {% endfor %}
        {% else %}
            <p> No Meetups Found!</p>
        {% endif %}    -->


        <header id="main-header">
            <nav><a href="/meetups" id="main-logo">DjangoMeetups</a></nav>
            <h1>We got great meetups coming up!</h1>
            <p>Find the one that best suits your needs!</p>
        </header>
        <main>
            <section>
                <h2>Upcoming Meetups</h2>
                    <ol>
                        {% for meetup_list in meetups%}
                            <li class="meetup-item">
                                <article>
                                    <div class="meetup-summary">
                                        <div class="meetup-image">
                                            <img src="" alt="">
                                        </div>
                                        <div class="meetup-details">
                                            <h3>{{ meetup_list.title }}</h3>
                                            <address>{{ meetup_list.location }}</address>
                                        </div>
                                    </div>
                                    <div class="meetup-actions">
                                        <a href="" class="btn">More Details</a>
                                    </div>
                                </article>
                            </li>
                        {% endfor%}
                    </ol>
            </section>
        </main>
    </body>
</html>